/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v27-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v27-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v27-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v27-latin-regular.woff") format("woff"), url("../fonts/roboto-v27-latin-regular.ttf") format("truetype"), url("../fonts/roboto-v27-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-900 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v27-latin-900.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v27-latin-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v27-latin-900.woff2") format("woff2"), url("../fonts/roboto-v27-latin-900.woff") format("woff"), url("../fonts/roboto-v27-latin-900.ttf") format("truetype"), url("../fonts/roboto-v27-latin-900.svg#Roboto") format("svg");
  /* Legacy iOS */
}
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

body {
  overflow: hidden;
  height: 100vh;
  display: grid;
  grid-template-columns: 45% 55%;
}
body.dark {
  background-color: #0d0f16;
}
@media screen and (max-width: 980px) {
  body {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100vh;
  }
}

button {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background: none;
}

.left-side {
  background: url("../img/coverleft.jpg");
  background-position: center;
  background-size: cover;
  padding: 10% 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.left-side h1 {
  font-weight: 800;
  font-size: 40px;
  color: white;
  width: 70%;
}
@media screen and (max-width: 750px) {
  .left-side h1 {
    font-size: 30px;
  }
}
.left-side button {
  font-size: 16px;
  padding: 10px 15px;
  background-color: #6518c3;
  color: whitesmoke;
  border-radius: 5px;
  align-self: center;
}
.left-side button:hover {
  background-color: #732bcc;
  transition: 0.2s;
}
.dark .left-side button:hover {
  background-color: #a8bdd4;
}
.dark .left-side button {
  background-color: #9abadd;
  color: #060606;
}
.dark .left-side {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../img/wp2623552-darth-vader-wallpaper-hd.jpg");
  background-position: center;
}
@media screen and (max-width: 980px) {
  .left-side {
    padding: 5% 5%;
  }
  .left-side button {
    margin-top: 25px;
  }
}

.right-side {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.right-side .check-hidden {
  position: absolute;
  left: -1000px;
}
.right-side .radio-hidden {
  position: absolute;
  left: -1000px;
}
.right-side .brut {
  width: calc(100% - 32px);
  padding: 10px 15px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  outline: none;
  margin-bottom: 15px;
}
.right-side .brut::placeholder {
  font-size: 16px;
}
.dark .right-side .brut {
  border: 1px solid #282e43;
  background: #0d0f16;
  color: #d9def3;
  font-size: 16px;
}
.right-side .alert {
  border-color: lightcoral;
}
.dark .right-side .alert {
  border-color: lightcoral;
}

.box-choice {
  display: flex;
  justify-content: stretch;
  border: 1px solid lightgrey;
  border-radius: 5px;
  margin-bottom: 15px;
}
.box-choice button {
  flex-grow: 1;
  text-align: center;
  border-right: 1px solid lightgrey;
  padding: 10px 15px;
}
.box-choice button:first-child {
  border-radius: 4px 0 0 4px;
}
.box-choice button:last-child {
  border-right: none;
  border-radius: 0 4px 4px 0;
}
.box-choice button.prechecked {
  background: #8f46e8;
  color: whitesmoke;
  border-right: 1px solid #949cb4;
}
.box-choice button.checked {
  background: #8f46e8;
  color: whitesmoke;
  border-right: 1px solid #949cb4;
  transition: color 0.2s;
  transition: background-color 0.2s;
}
.dark .box-choice button {
  border-right: 1px solid #282e43;
  color: #d9def3;
}
.dark .box-choice button:last-child {
  border-right: none;
}
.dark .box-choice button.prechecked {
  background: #9abadd;
  color: #0d0f16;
  border-right: 1px solid #949cb4;
}
.dark .box-choice button.checked {
  background-color: #9abadd;
  color: #0d0f16;
  border-right: 1px solid #839ebb;
  transition: color 0.2s;
}
.dark .box-choice {
  border: 1px solid #282e43;
}

select {
  width: 100%;
  padding: 10px 15px;
  outline: none;
  border: 1px solid lightgrey;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 15px;
}
.dark select {
  border: 1px solid #282e43;
  background-color: #0d0f16;
  color: #d9def3;
}

input.calcul {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 10px 15px;
  background-color: #8f46e8;
  color: whitesmoke;
  border: 1px solid lightgrey;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15px;
}
input.calcul:hover {
  background-color: #995ae6;
  transition: 0.2s;
}
.dark input.calcul {
  background-color: #9abadd;
  color: #0d0f16;
  border: 1px solid #282e43;
}
input.calcul:hover {
  background-color: #a8bdd4;
}

.response {
  opacity: 0;
  text-align: center;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 10px 15px;
}
.dark .response {
  border: 1px solid #282e43;
  color: #d9def3;
}

.dark input:-internal-autofill-previewed,
.dark input:-internal-autofill-previewed:hover,
.dark input:-internal-autofill-previewed:focus,
.dark input:-internal-autofill-previewed:active,
.dark input:-internal-autofill-selected,
.dark input:-internal-autofill-selected:hover,
.dark input:-internal-autofill-selected:focus,
.dark input:-internal-autofill-selected:active,
.dark input:-webkit-autofill::first-line {
  box-shadow: 0 0 0 30px #0d0f16 inset;
  -webkit-box-shadow: 0 0 0 30px #0d0f16 inset;
  -webkit-text-fill-color: #d9def3;
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 980px) {
  .mob-bottom {
    flex: 1;
  }
}
@media screen and (max-width: 750px) {
  .mob-bottom {
    padding: 0 10px;
  }
}

/*# sourceMappingURL=style.css.map */
